<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.george.modern_notes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FioletTheme">

        <activity
            android:name=".future.SettingsActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8796490674446763~7636955518" />

        <activity
            android:name=".notebook.TopNoteActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".common.StarterActivity" />
        <activity android:name=".common.SettingsActivity" />
        <activity android:name=".passwords.PasswordsListsActivity" />
        <activity android:name=".notebook.NotebookActivity" />
        <activity android:name=".links.ListOfLinksActivity" />
        <activity android:name=".passwords.GeneratorPasswordActivity" />
        <activity
            android:name=".passwords.AddPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".notebook.AddNoteActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".links.AddLinkActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>