<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gradient.free">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FioletTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8796490674446763~7636955518" />

        <activity android:name="com.gradient.free.TopNoteActivity"  android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.gradient.free.StarterActivity" />
        <activity android:name="com.gradient.free.SettingsActivity" />
        <activity android:name="com.gradient.free.PasswordsListsActivity" />
        <activity android:name="com.gradient.free.NotebookActivity" />
        <activity android:name="com.gradient.free.ListOfLinksActivity" />
        <activity android:name="com.gradient.free.GeneratorPasswordActivity" />
        <activity android:name="com.gradient.free.AddPasswordActivity" android:windowSoftInputMode="adjustResize"  />
        <activity android:name="com.gradient.free.AddNoteActivity" />
        <activity android:name="com.gradient.free.AddLinkActivity"  />
        <activity android:name="com.gradient.free.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>